torch>=2.0
scipy
numpy==1.24
transforms3d
tqdm
pyyaml
einops
yacs
pillow
h5py
gdown
kornia
loguru
imageio
timm
joblib
tensorboard
psutil
opencv-python
nerfacc
imgviz
pycolmap==0.4.0
matplotlib
ipykernel
jupyter
pytorch-lightning==1.5.10